<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%-include('cdn.ejs')%>
</head>

<body>


    <h1 class="bg-dark p-3 mb-4 text-center text-danger text-uppercase">Instagram</h1>


    <center>
        <a href="/login"><button class="btn btn-sm btn-danger px-4 fw-bold mx-3">Login </button></a>
        <a href="/signup"><button class="btn btn-sm btn-outline-primary px-4 fw-bold ">Signup</button></a>
    </center>

</body>

</html>